@model IEnumerable<AlphaBugTracker.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Index" asp-controller="Project"  >Create a New Ticket for a Project</a>
</p>

<form asp-action = "Index" method="get"> 
     Type: <select name="ticketTypeCheck" asp-items="@ViewBag.TicketTypeId">  </select>
     <button type="submit">Filter</button>    
</form>






<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th>
                Type
            </th>
            <th>
               Priority
            </th>
            <th>
                Status
            </th>
            <th>
              <a asp-controller ="Ticket" asp-action="Index"  asp-route-criteria="Project">Project</a>
            </th>
            <th>
                <a asp-controller ="Ticket" asp-action="Index"  asp-route-criteria="Owner">Owner</a>
            </th>
            <th>
                <a asp-controller ="Ticket" asp-action="Index"  asp-route-criteria="Assigned">Assigned to</a>
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToUser.UserName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
